
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>📊 Recruiter Report</h2>
    </div>



    <div class="card-box">
        <table id="recTable" class="display">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Email</th>
                    <th>Total Jobs</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
var table = $('#recTable').DataTable({
    ajax: {
        url: '@Url.Action("GetRecruiters","Admin")',
        data: d => d.company = $('#company').val()
    },
    columns: [
        { data: 'Company' },
        { data: 'Email' },
        { data: 'Jobs' }
    ], "pageLength": 5,
    "lengthMenu": [5, 10, 20],
    "dom": 'Bfrtip',
    "buttons": ['copy', 'excel', 'csv', 'pdf']
});

$('#btnFilter').click(() => table.ajax.reload());
</script>
